<div>
  <h2 id="page-heading" data-cy="LikesHeading">
    <span>Likes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-likes"
        [routerLink]="['/likes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Likes </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="likes?.length === 0">
    <span>No Likes found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="likes && likes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="like">
            <div class="d-flex">
              <span>Like</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="likedAt">
            <div class="d-flex">
              <span>Liked At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="post.id">
            <div class="d-flex">
              <span>Post</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userLiked.id">
            <div class="d-flex">
              <span>User Liked</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let likes of likes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/likes', likes.id, 'view']">{{ likes.id }}</a>
          </td>
          <td>{{ likes.like }}</td>
          <td>{{ likes.likedAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="likes.post">
              <a [routerLink]="['/post', likes.post.id, 'view']">{{ likes.post.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="likes.userLiked">
              <a [routerLink]="['/user-profile', likes.userLiked.id, 'view']">{{ likes.userLiked.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/likes', likes.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/likes', likes.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(likes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
