.text {
  //margin-top: 10px;
  margin-inline: 10px;
  text-align: left;
  //padding-bottom: 20px;
}

.add-padding {
  padding: 10px;
  margin-bottom: 20px;
  margin-inline: 10px;
}

.d-flex {
  justify-content: start;
  padding-bottom: 20px;
}

.imgDisplay {
  display: block;
  height: 200px;
  width: 200px;
  object-fit: contain;
  border: none;
  border-radius: 25px;
}

.outfit-image-3 {
  //margin-right: 20px;
  margin-inline: 10px;
  margin-bottom: 10px;
  height: 200px;
  width: 200px;
  //width: 160px;
  border-radius: 25px;
  border: none;
  background-size: auto;
  background-position: center;
  background-color: white;
  grid-column-start: 1;
  cursor: pointer;
}
