.text {
  //margin-top: 10px;
  margin-inline: 15px;
  text-align: center;
  //padding-bottom: 20px;
}

.lightText {
  color: var(--button-text-color);
  font-weight: bold;
}

.add-padding {
  padding: 10px;
  margin: 20px;
  display: inline-flex;
  text-align: center;
}

.bump {
  margin-top: 8px;
  font-weight: bold;
}

.main-display {
  width: 60%;
  margin-left: 20%;
  //justify-self: center;
  place-self: center;
  place-items: center;
  align-items: center;
  display: grid;
}

.outfit-image-3 {
  //margin-right: auto;
  //margin-left: 35%;
  //align-self: center;
  margin-bottom: 10px;
  height: 400px;
  width: 400px;
  //width: 160px;
  border-radius: 25px;
  border: none;
  background-size: auto;
  background-position: center;
  background-color: white;
  cursor: pointer;
}
