<h1>Diary</h1>
<div class="display-box">
  <div class="d-flex">
    <button-main
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-item-log"
      [routerLink]="['/item-log/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span *ngIf="account"> Create a new entry </span>
      <span *ngIf="!account"> Sign in to start planning </span>
    </button-main>
  </div>
  <div *ngIf="logReceivedData; else noItemLogs">
    <div *ngIf="userProfile">
      <!--<p>fetching items for user {{ userProfile.id}} </p>-->
    </div>
    <h4>{{ logReceivedData.length }} entries in your diary</h4>
    <div *ngFor="let itemLog of logReceivedData; let i = index">
      <div *ngIf="itemLog.date">
        <h4>{{ itemLog.date.format('dddd D MMMM (YYYY)') }}</h4>
      </div>
      <div *ngIf="itemLog.outfit">
        <h5>{{ matchingOutfits[i].name }}</h5>
        <img
          class="outfit-image-3"
          src="data:image/{{ matchingOutfits[i].imageContentType }};charset=utf-8;base64,{{ matchingOutfits[i].image }}"
          alt="{{ matchingOutfits[i].name }}"
          *ngIf="matchingOutfits[i]"
        />
      </div>
      <div *ngIf="!itemLog.outfit">
        <h6>No outfit selected!</h6>
      </div>
      <p></p>
    </div>
  </div>
  <ng-template #noItemLogs>
    <p>There are no entries in your diary.</p>
  </ng-template>
</div>
