<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=2.0" />

  <head>
    <title>Sustainability</title>
  </head>
  <div class="user-profile">
    <div *ngIf="account">
      <h3>Welcome {{ account.login }}!</h3>
    </div>
  </div>
  <div style="text-align: center" class="TitleBox">
    <h2 style="color: antiquewhite">How To Sustainably Shop For Your Clothes?</h2>
  </div>

  <div class="grid1">
    <div class="display-box column">
      <h2 style="text-align: center; color: black">"Regeneration"</h2>
      <p style="text-align: center; color: black">We are committed to enhancing the well-being of our planet and its people.</p>
      <ol>
        <li>
          <!--point1-->
          Shop secondhand first<br />
          Buy pre-owned clothing from thrift shops, consignment shops, vintage sources, and online resale shops.
          <hr />
        </li>
        <li>
          <!--point2-->
          Buy fewer clothes<br />
          Buy clothes you know you will wear many times because they look good and fit well. You can mix and match items to create many
          different looks. Fewer, better-made clothes with the right accessories can give you a more sophisticated and stylish look than
          volumes of cheaper clothing.<br />
          <p style="font-weight: bold">Bonus: You’ll look better and find creativity in styling on your own</p>
          <hr />
        </li>

        <li>
          <!--point3-->
          Invest only in clothes you really like and need<br />
          Consider not what is being pushed at you by fashion designers but instead look at your own style and what you want to communicate.
          Before you buy a new piece of clothing, consider if you have a similar piece in your wardrobe already.<br />
          <hr />
        </li>
        <li>
          <!-- point4-->
          Shop locally<br />
          Buy from local shops for clothes, buy from local craftspeople to accessorize your outfits and use your neighborhood tailor for
          adjustments.
          <hr />
        </li>
        <li>
          <!-- point5-->
          Go natural<br />
          Buy clothing made with natural fabric fibers instead of synthetic fabrics.
          <p style="color: black">
            Natural alternatives to synthetic fabrics include cotton, linen, bamboo, flax, jute, silk, wool, and alpaca.
          </p>
          <hr />
        </li>
      </ol>
    </div>
    <div class="display-box column" style="margin-left: 20px">
      <h2 style="text-align: center; color: black">
        How can I help the earth by doing this?
        <hr style="height: 2px" />
      </h2>
      <ol>
        <li>
          Reducing impacts on the environment and waste from the overproduction of new merchandise.
          <hr />
        </li>
        <li>
          Buying clothes locally reduces carbon emissions from shipping while supporting your local economy.
          <hr />
        </li>
        <li>
          Reducing the amount of microplastics in rivers and oceans that come from synthetic fibers that shed during washing.
          <hr />
        </li>
        <li>
          Taking business away from companies that pollute our planet in favor of ones that care about people and the Earth.
          <hr />
        </li>
        <li>
          Taking business away from companies that pollute our planet in favor of ones that care about people and the Earth.
          <hr />
        </li>
        <li>
          Playing a part in reducing the use of pesticides and herbicides as well as keeping the Earth’s water sources clean.
          <hr />
        </li>
        <li>
          Divert waste from landfills while having fun adding pieces to your wardrobe!
          <hr />
        </li>
        <br />
        <br />
        <br />
        <p>
          Reference:<a href="https://www.earthday.org/toolkit-how-to-shop-for-your-clothes/">
            https://www.earthday.org/toolkit-how-to-shop-for-your-clothes/</a
          >
        </p>
      </ol>
    </div>
  </div>

  <div class="display-box ExchangeRequest">
    <div class="display-box YoutubeContainer">
      <div class="video-slider-container">
        <div class="ExternalResource-Title">
          <h3 style="color: black; margin-left: 10px">More on sustainable fashion</h3>
          <hr />
          <p style="color: black">Here are some YouTube videos that provides more information on sustainable fashion</p>
        </div>
        <div class="video-slider">
          <div class="video-slide" *ngFor="let video of videos">
            <div class="video">
              <iframe width="300" height="300" [src]="getSafeUrl('https://www.youtube.com/embed/' + video.id.videoId)"></iframe>
            </div>
            <!--          <div class="description">-->
            <!--            <h3>{{ video.snippet.title }}</h3>-->
            <!--            <p>{{ video.snippet.description }}</p>-->
            <!--          </div>-->
          </div>
        </div>
      </div>
      <!--    <button class="arrow left-arrow" (click)="slidePrevious()">&lt;</button>-->
      <!--    <button class="arrow right-arrow" (click)="slideNext()">&gt;</button>-->
    </div>
  </div>
  <div class="display-box ExchangeRequest">
    <div class="display-box ExchangeRequestGrid">
      <div class="headingText">
        <h2 style="text-align: center; color: black">Now it's your chance to save the Earth!</h2>
        <p style="text-align: center; color: black">
          Create your User Profile first and Click the buttons below to exchange your clothes with the community.
        </p>
      </div>
      <div class="ButtonContainer">
        <button class="button-primary UserProfileButton" [routerLink]="['/user-profile/new']">New User-profile</button>
        <button class="button-primary BuySellButton" [routerLink]="['/wardrobe']">Add item to wardrobe</button>
        <button class="button-primary ExchangeButton" [routerLink]="['/exchange-request/new']">Exchange</button>
      </div>

      <div class="d-flex">
        <span *ngIf="!account"> Sign in to see the latest requests. </span>
        <span *ngIf="account"> Here are all the requests. Click on the photo to edit your exchange and view details.</span>
      </div>

      <div class="ExchangeRequestDetail">
        <h3 style="margin-left: 10px">Latest Exchange Requests</h3>
        <ol style="color: black">
          <li>First make sure you have create a user profile.</li>
          <li>Second add a new item into wardrobe.</li>
          <li>Third click on the exchange button to start swapping clothes!</li>
        </ol>
        <p>Click on "Creater" to see if you are the correct user. Click on "Requester"</p>
        <p>Welcome {{ account?.login }}!</p>

        <div class="grid-container" style="color: black">
          <div class="grid-item-header">Clothing Item</div>
          <div class="grid-item-header">Description</div>
          <div class="grid-item-header">Image</div>
          <div class="grid-item-header">Creater</div>
          <div class="grid-item-header">Requester</div>
          <div class="grid-item-header">Select</div>
          <ng-container *ngFor="let exchangeRequest of latestExchangeRequests.slice(0, 10); let i = index">
            <div class="grid-item" [routerLink]="['/exchange-request', latestExchangeRequests[i].id, 'view']">
              {{ exchangeRequest.clothingItem?.name }}
            </div>
            <div class="grid-item" [routerLink]="['/exchange-request', latestExchangeRequests[i].id, 'view']">
              {{ exchangeRequest.description }}
            </div>
            <div class="grid-item">
              <img
                [src]="'data:image/png;base64,' + exchangeRequest.image"
                alt="Exchange Request Image"
                style="max-width: 400px; max-height: 100px"
                [routerLink]="['/exchange-request', latestExchangeRequests[i].id, 'view']"
              />
            </div>
            <div class="grid-item" [routerLink]="['/user-profile', latestExchangeRequests[i].creater?.id, 'view']">
              {{ exchangeRequest.creater?.id }}
            </div>
            <div class="grid-item" [routerLink]="['/user-profile', latestExchangeRequests[i].requester?.id, 'view']">
              {{ exchangeRequest.requester?.id }}
            </div>
            <div class="grid-item">
              <input type="radio" name="selectedItem" (change)="selectItem(exchangeRequest)" />
            </div>
          </ng-container>
        </div>
        <div class="button" *ngIf="account">
          <!-- Button for canceling the choice the exchange -->
          <button (click)="reloadPageToSeeLatestChoice()" class="clear-button">Clear Selection</button>
          <!-- Button for confirming the exchange -->
          <button [disabled]="!selectedExchangeRequest" (click)="openPopup()" class="confirm-button">Confirm Exchange</button>
        </div>
      </div>
    </div>
  </div>

  <!-- The popup window -->
  <div id="popup" class="popup">
    <div class="popup-content">
      <span class="close" (click)="closePopup()">&times;</span>
      <div class="QuestionMark-container">
        <img src="/content/images/question.gif" alt="question mark Image" />
      </div>
      <!-- Button to close the popup -->
      <h2 style="color: black">Confirm this exchange?</h2>
      <p style="color: black">The item you are going to exchange for {{ selectedExchangeRequest?.clothingItem?.name }}</p>
      <button class="confirm-button" (click)="confirmExchange()">Yes</button>
      <button class="cancel-button" (click)="cancelExchange()">No</button>
    </div>
  </div>

  <div id="second-popup" class="popup">
    <div class="popup-content">
      <span class="close" (click)="closeSecondPopup()">&times;</span>
      <div class="tick-container">
        <img src="/content/images/GreenTick.png" alt="Green Tick Image" />
      </div>
      <h2 style="color: black">Thank you!</h2>
      <p style="color: black">Your request has been proceeded. Click the button below to connect with your requester now!</p>
      <div style="display: flex; justify-content: center; align-items: center">
        <button class="DirectSocialChat" [routerLink]="['/social-chat']">Click here</button>
      </div>
    </div>
  </div>

  <div id="error-popup" class="popup" *ngIf="showErrorPopup">
    <div class="popup-content">
      <span class="close" (click)="closeThirdPopup()">&times;</span>
      <div class="error-container">
        <img src="/content/images/error-message.png" alt="Error message Image" />
      </div>
      <h2 style="color: black">Error</h2>
      <p style="color: black">You cannot exchange items with yourself</p>
    </div>
  </div>
  <!--    </div>-->
  <!--  </body>-->
</html>
