.TitleBox {
  width: 100%;
  height: 100px;
  border: 0.5px solid rgba(26, 25, 25, 0.12);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'Playfair Display';
  color: white;

  background-image: url(/content/images/SustainableBanner.png);
}

//.ImageBox {
//  margin-bottom: 10px;
//}
//
//.ImageBox img {
//  max-width: 100%;
//  height: auto;
//}




// Define variables
$primary-color: #4CAF50;
$hover-color: #45a049;

// Styles
body {
  font-family: Arial, sans-serif;
}

.Paragraph{
  font-size: 16px;

}
.quote {
  font-size: 18px; /* Adjust the font size as needed */
}


.grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}


//.content {
//  display: flex;
//  width:100%;
//}
//
//.column {
//  flex: 1;
//  float: left;
//  width: 33.33%;
//  padding: 16px;
//  border: 1px solid #ccc;
//  //box-sizing: border-box;
//  //height: auto; /* Should be removed. Only for demonstration */
//}

.quote {
  font-size: 20px;
  font-style: italic;
}

.Buy\/SellButton {
  padding: 10px 15px;
  margin-top: 10px;
  background: $primary-color;
  color: white;
  text-decoration: none;

  &:hover {
    background: $hover-color;
  }
}

.ExchangeButton{
  padding: 10px 15px;
  margin-top: 10px;
  background: $primary-color;
  color: white;
  text-decoration: none;

  &:hover {
    background: $hover-color;
  }
}



.image-cycle {
  text-align: center;

  img {
    width: 100px;
    height: auto;
    margin: 10px;
  }
}












