.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.translucent-column {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 20px;
  width: 2000px; // or whatever width you prefer
  height: 750px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
