.display-analytics {
  display: flex;
  position: relative;
  min-height: 75vh;

  .examplePane1 {
    background-color: rgba(87, 87, 87, 0.5);
    border-radius: 25px;
    min-height: 338px;
    width: 235px;
    margin-right: 20px;
  }

  .examplePane2 {
    background-color: rgba(87, 87, 87, 0.5);
    display: inline;
    border-radius: 25px;
    min-height: 338px;
    min-width: 235px;
    margin-right: 20px;
  }

  .examplePane3 {
    background-color: rgba(87, 87, 87, 0.5);
    border-radius: 25px;
    min-height: 338px;
    width: 235px;
    margin-right: 20px;
  }

  .exampleImg {
    margin-top: 14px;
    margin-left: 14px;
    margin-right: 54px;
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 25px;
  }

  .text-xlarge {
    margin: 14px;
    color: white;
    font-size: x-large;
    font-weight: bold;
  }

  .text-med {
    margin: 14px;
    color: white;
    font-size: medium;
    font-weight: lighter;
    //padding-bottom: 20px;
  }
}
