.test {
  display: flex;
  position: relative;
  min-height: 70vh;
}

.pane-1 {
  position: fixed;
  top: 10vh;
  left: 30vw;
  display: block;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  width: 60vw;
  height: 35vh;
}

.pane-2 {
  position: fixed;
  top: 55vh;
  left: 30vw;
  display: block;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  width: 60vw;
  height: 35vh;
}

.pane-3 {
  position: fixed;
  top: 10vh;
  left: 10vw;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  width: 15vw;
  height: 80vh;
}

.box1,
.box2,
.box3,
.box4 {
  margin-top: 2vh;
  margin-right: 3.5vw;
  background-color: white;
  height: 27vh;
  width: 13vw;
  border-radius: 3.5vh;
  display: inline-block;
}
