<!-- <p>analytics works!</p> -->
<div class="display-analytics">
  <div class="examplePane1">
    <div class="text-xlarge">Your most worn outfit</div>
    <div class="text-med">If we're picking favourites, here's yours</div>
    <div class="exampleImg"></div>
    <div class="exampleImg"></div>
    <div class="exampleImg"></div>
    <div class="exampleImg"></div>
  </div>
  <div class="examplePane1">
    <div class="text-xlarge">Your most popular outfit</div>
    <div class="text-med">Here's what the community has to say</div>
    <div class="exampleImg"></div>
    <div class="exampleImg"></div>
    <div class="exampleImg"></div>
    <div class="exampleImg"></div>
  </div>
  <div class="examplePane2">
    <div class="text-xlarge">Your most worn items</div>
    <div class="text-med">Bring out the classics</div>
    <div class="exampleImg"></div>
    <div class="exampleImg"></div>
    <div class="exampleImg"></div>
    <div class="exampleImg"></div>
  </div>
  <div class="examplePane2">
    <div class="text-xlarge">Your least worn items</div>
    <div class="text-med">Some deep dives into your wardrobe</div>
    <div class="exampleImg"></div>
    <div class="exampleImg"></div>
    <div class="exampleImg"></div>
    <div class="exampleImg"></div>
  </div>
  <div class="examplePane3">
    <div class="text-xlarge">Time for a breakup?</div>
    <div class="text-med">Consider donating your unloved items</div>
    <div class="exampleImg"></div>
  </div>
</div>
