.text {
  //margin-top: 10px;
  margin-inline: 10px;
  text-align: left;
  //padding-bottom: 20px;
}

.display-analytics {
  display: inline;
  //place-items: center;
  justify-content: space-evenly;
  position: relative;
  min-height: 75vh;
  margin: auto;

  .add-padding {
    padding: 10px;
    margin-bottom: 20px;
    margin-inline: 10px;
  }

  .sideLeft {
    //display: inline-flex;
    //margin-left: 100px;
  }

  .sideRight {
    display: inline-flex;
  }

  .leastWorn {
    //display: flex;
  }

  @mixin translucent-bg($color, $alpha) {
    background-color: rgba($color, $alpha);
  }

  .exampleImg2 {
    display: inline-block;
    margin: 14px 54px 14px 14px;
    background-color: aliceblue;
    cursor: pointer;
    &:hover {
      background-color: lightgrey;
    }
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 25px;
    transition: background-color 0.25s ease;
  }

  .imgDisplay {
    display: inline-block;
    border: none;
  }

  .outfit-image-3 {
    //margin-right: 20px;
    //margin-right: 10px;
    //margin-left: 10px;
    margin-inline: 10px;
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    //width: 160px;
    border-radius: 25px;
    border: none;
    background-size: auto;
    background-position: center;
    background-color: white;
    grid-column-start: 1;
    cursor: pointer;
  }

  .scrollable-area {
    max-width: 100%;
    overflow-x: scroll;
    contain: paint;
  }
}
