<!-- <p>analytics works!</p> -->
<div *ngIf="account">
  <div class="text-xxlarge-center">Hi, {{ account.firstName }}</div>
  <div class="text-med-center">Let's have a look at your data</div>
</div>
<div class="display-analytics">
  <div class="sideLeft">
    <div class="examplePane1">
      <div class="text-xlarge">Your most worn outfit</div>
      <div class="text-med">If we're picking favourites, here's yours</div>
      <div class="exampleImg"></div>
      <div class="exampleImg"></div>
      <div class="exampleImg"></div>
      <div class="exampleImg"></div>
    </div>
    <div class="examplePane1">
      <div class="text-xlarge">Your most popular outfit</div>
      <div class="text-med">Here's what the community has to say</div>
      <div class="exampleImg"></div>
      <div class="exampleImg"></div>
      <div class="exampleImg"></div>
      <div class="exampleImg"></div>
    </div>
  </div>
  <div class="sideRight">
    <div class="examplePane2">
      <div class="text-xlarge">Your most worn items</div>
      <div class="text-med">Bring out the classics</div>
      <div class="exampleImg2"></div>
      <div class="exampleImg2"></div>
      <div class="exampleImg2"></div>
      <div class="exampleImg2"></div>
    </div>
    <div class="leastWorn">
      <div class="examplePane2">
        <div class="text-xlarge">Your least worn items</div>
        <div class="text-med">Some deep dives into your wardrobe</div>
        <div class="exampleImg2"></div>
        <div class="exampleImg2"></div>
        <div class="exampleImg2"></div>
      </div>
      <div class="examplePane3">
        <div class="text-xlarge">Time for a breakup?</div>
        <div class="text-med">Consider donating your unloved items, like this one</div>
        <button class="exampleImg" [routerLink]="['/sustainability']"></button>
      </div>
    </div>
    <div class="leastWorn">
      <div class="examplePane3">
        <div class="text-xlarge">{{ numberOfOutfits }} outfits posted</div>
        <div class="text-med">And you're still going strong</div>
      </div>
      <div class="examplePane3">
        <div class="text-xlarge">{{ numberOfItems }} items in your wardrobe</div>
        <div class="text-med">That's a lot of combinations</div>
      </div>
      <div class="examplePane3">
        <div class="text-xlarge">Most common occasion: {{ topOccasion }}</div>
        <div class="text-med">You're always dressed to impress</div>
      </div>
      <div class="examplePane3">
        <div class="text-xlarge">{{ numberOfExchanged }} items exchanged</div>
        <div class="text-med">What a social butterfly</div>
      </div>
    </div>
  </div>
</div>
