<!-- <p>analytics works!</p> -->
<div *ngIf="account">
  <h1>Hi, {{ account.firstName }}</h1>
  <h5>Let's have a look at your data</h5>
</div>
<div *ngIf="!account">
  <h1>Hi, new user!</h1>
  <h5>You're not signed in yet</h5>
</div>
<div class="display-analytics">
  <div class="display-box">
    <h5>Your most worn outfit</h5>
    <p>If we're picking favourites, here's yours</p>
  </div>
  <div class="display-box">
    <h5>Your most popular outfit</h5>
    <p>Here's what the community has to say</p>
  </div>
  <div class="display-box">
    <h5>Your most worn items</h5>
    <p>Bring out the classics</p>
  </div>
  <div class="leastWorn">
    <div class="display-box">
      <h5>Your least worn items</h5>
      <p>Some deep dives into your wardrobe</p>
    </div>
    <div class="display-box">
      <h5>Time for a breakup?</h5>
      <p>Consider donating your unloved items, like this one</p>
      <button class="imgDisplay" [routerLink]="['/sustainability']">
        <img
          src="data:image/{{ breakupItem.imageContentType }};charset=utf-8;base64,{{ breakupItem.image }}"
          alt="{{ breakupItem.name }}"
          *ngIf="breakupItem"
        />
      </button>
    </div>
  </div>
  <div class="sideRight">
    <div class="display-box">
      <h5>{{ numberOfOutfits }} outfits created</h5>
      <p>And you're still going strong</p>
    </div>
    <div class="display-box">
      <h5>{{ numberOfItems }} items in your wardrobe</h5>
      <p>That's a lot of combinations</p>
    </div>
    <div class="display-box">
      <h5>Most common occasion: {{ topOccasion }}</h5>
      <p>You're always dressed to impress</p>
    </div>
    <div class="display-box">
      <h5>{{ numberOfLogs }} outfits in your diary</h5>
      <p>Ready to log and load</p>
    </div>
  </div>
</div>
