<p>wardrobe works!</p>
<div class="display-wardrobe">
  <div class="rectangle-filter">
    <div class="rectangle-displayContent">
      <div class="apply-filter-button">
        <div class="rectangle-filter-button">
          <h5>apply filters</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="rectangle-display">
    <div class="rectangle-displayContent">
      <table class="table-clothes">
        <caption>
          Clothing items
        </caption>
        <thead>
          <th>Name</th>
          <th>Occasion</th>
          <th>Colour</th>
        </thead>
        <tfoot>
          <tr>
            <td colspan="3">Currently a test</td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th>Hoodie</th>
            <td>Informal</td>
            <td>Red</td>
          </tr>
          <tr>
            <th>Jeans</th>
            <td>Smart Casual</td>
            <td>blue</td>
          </tr>
          <tr>
            <th>Shirt</th>
            <td>Formal</td>
            <th>white</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
