<p>wardrobe works!</p>
<div class="display-wardrobe">
  <div class="rectangle-filter">
    <div class="rectangle-displayContent">
      <div class="apply-filter-button">
        <div class="rectangle-filter-button">
          <h5>apply filters</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="rectangle-display">
    <div class="rectangle-displayContent">
      <table class="table-clothes">
        <caption>
          Clothing items
        </caption>
        <thead>
          <th>Name</th>
          <th>Occasion</th>
          <th>Colour</th>
        </thead>
        <tfoot>
          <tr>
            <td colspan="3">Currently a test</td>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let item of recievedData">
            <th>{{ item.name }}</th>
            <td>{{ item.style }}</td>
            <td>{{ item.colour }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
