.display-wardrobe {
  display: flex;
  position: relative;
  min-height: 75vh;
}

.dropdown-new-item {
  position: relative;
  display: inline-block;
  background-color: #bbcedd;
  color: black;
  padding: 5px 10px;
  border-radius: 1.75vh;
  width: 17.5vw;
  height: 5vh;
  top: 5px;
}

.dropdown-new-item-content {
  display: none;
  position: absolute;
  top: 5.1vh;
  left: -5px;
  background-color: rgba(87, 87, 87, 0.5);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 1.25vh;
  border-radius: 1.25vh;
  transition-duration: 0.4s;
  backdrop-filter: blur(10px);
}

.dropdown-new-item:hover .dropdown-new-item-content {
  transition-duration: 0.1s;
  display: block;
}

.grid-container-large {
  display: grid;
  grid-template-areas: 'left middle middle right';
  grid-column-gap: 2.5vw;
}

.rectangle-display {
  position: relative;
  left: 5vw;
  top: 5vh;
  padding-left: 5vw;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  height: 70vh;
  width: 40vw;
  transition-duration: 0.4s;
}

.clothing-item-box {
  margin: 5px;

  label {
    display: block;
    padding: 5px 10px;
    height: 15vh;
    width: 15vh;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
  }

  input[type='checkbox'] {
    display: none;

    &:checked + label {
      background-color: #ccc;
    }
  }
}

.rectangle-filter {
  padding-left: 5vw;
  position: relative;
  left: 5vw;
  top: 5vh;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  height: 70vh;
  width: 20vw;
  transition-duration: 0.4s;
}

.rectangle-displayContent {
  position: absolute;
  left: 1.75vh;
  top: 1.75vh;
}

.apply-filter-button {
  background-color: #bbcedd;
  color: black;
  padding: 5px 10px;
  border-radius: 1.75vh;
  width: 17.5vw;
  height: 5vh;
  top: 5px;
  transition-duration: 0.4s;
  &:hover {
    background-color: #aabdcc;
  }
  &:active {
    transition-duration: 0s;
    background-color: #889baa;
  }
}

.rectangle-filter-button {
  position: absolute;
  left: 0.75vh;
  top: 0.75vh;
}

.grid-container {
  display: inline-grid;
  grid-column-gap: 5vh;
}
