.display-wardrobe {
  display: flex;
  position: relative;
  min-height: 75vh;
}
.rectangle-display {
  position: absolute;
  left: 25vw;
  top: 5vh;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  height: 70vh;
  width: 70vw;
}

.rectangle-filter {
  position: absolute;
  left: 2.5vw;
  top: 5vh;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  height: 70vh;
  width: 20vw;
}

.rectangle-displayContent {
  position: absolute;
  left: 19px;
  top: 11px;
}

.apply-filter-button {
  background-color: #bbcedd;
  color: black;
  border-radius: 1.75vh;
  width: 15vw;
  height: 5vh;
  transition-duration: 0.4s;
  &:hover {
    background-color: #aabdcc;
  }
  &:active {
    transition-duration: 0s;
    background-color: #888888;
    color: white;
  }
}
