.display-wardrobe {
  display: flex;
  position: relative;
  min-height: 75vh;
}

.dropdown-new-item {
  transition: all 0.4s ease;
  position: relative;
  display: inline-block;
  background-color: #bbcedd;
  color: black;
  padding: 5px 10px;
  border-radius: 1.75vh;
  width: 17.5vw;
  height: 5vh;
  top: 5px;
}

.dropdown-new-item-content {
  transition: all 0.4s ease;
  overflow: hidden;
  position: absolute;
  height: 0vh;
  border-radius: 0vh;
  top: 5.1vh;
  left: -5px;
  background-color: rgba(87, 87, 87, 0.5);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-top: 0px;
  padding-left: 1.25vh;
  padding-right: 1.25vh;
  backdrop-filter: blur(10px);
}

.dropdown-new-item:hover .dropdown-new-item-content {
  transition: height 0.4s ease;
  border-radius: 1.25vh;
  padding: 1.25vh;
  height: 595px;
}

.dropdown-new-item-content-outfit {
  transition: all 0.4s ease;
  overflow: hidden;
  position: absolute;
  height: 0vh;
  border-radius: 0vh;
  top: 5.1vh;
  left: -5px;
  background-color: rgba(87, 87, 87, 0.5);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-top: 0px;
  padding-left: 1.25vh;
  padding-right: 1.25vh;
  backdrop-filter: blur(10px);
}

.dropdown-new-item:hover .dropdown-new-item-content-outfit {
  transition: height 0.4s ease;
  border-radius: 1.25vh;
  padding: 1.25vh;
  height: auto;
}

.grid-container-large {
  display: grid;
  grid-template-areas: 'left middle middle right';
  grid-column-gap: 2.5vw;
}

.rectangle-display {
  position: relative;
  left: 5vw;
  top: 5vh;
  padding-left: 5vw;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  height: 70vh;
  width: 40vw;
  transition-duration: 0.4s;
}

.offset {
  position: relative;
  padding: 1.25vh;
}

.outfit-box {
  position: relative;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  padding: 1.25vh;
  height: 7.5vw;
  width: 7.5vw;
  transition-duration: 0.4s;
  margin: 1.25vh;
  contain: paint;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: flex;
  width: 120%;
  height: 120%;
  object-fit: contain;
}

.clothing-box {
  position: relative;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  height: 7.5vw;
  width: 7.5vw;
  transition-duration: 0.4s;
  padding: 1.25vh;
  margin: 1.25vh;
  contain: paint;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-filter {
  padding-left: 5vw;
  position: relative;
  left: 5vw;
  top: 5vh;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  height: 70vh;
  width: 20vw;
  transition-duration: 0.4s;
}

.rectangle-displayContent {
  position: absolute;
  left: 1.75vh;
  top: 1.75vh;
}

.scrollable-area {
  max-height: 60vh;
  overflow-y: scroll;
  contain: paint;
}

.apply-filter-button {
  background-color: #bbcedd;
  color: black;
  padding: 5px 10px;
  border-radius: 1.75vh;
  width: 17.5vw;
  height: 5vh;
  top: 5px;
  transition-duration: 0.4s;
  &:hover {
    background-color: #aabdcc;
  }
  &:active {
    transition-duration: 0s;
    background-color: #889baa;
  }
}

.rectangle-filter-button {
  position: absolute;
  left: 0.75vh;
  top: 0.75vh;
}

.grid-container {
  display: inline-grid;
  grid-column-gap: 5vh;
}

.grid-container-2 {
  display: inline-grid;
  grid-column-gap: 20px;
  grid-template-areas: 'left right';
  padding-bottom: 20px;
}

.filter-tick {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border-color: #26282a;
  color: #cccccc;
}
