<div class="display-4">
  <p>GDPR policy</p>
</div>

<div class="card">
  <h3>Our contact details</h3>
  <p>
    Name: FashionFinder<br />
    Last updated: 03/03/2024
  </p>

  <h3>The type of personal information we collect</h3>
  <p>We currently collect and process the following information:</p>
  <ul>
    <li>
      Personal identifiers (an ID we have generated for your virtual profile, your first and last name, your e-mail address and an image you
      have provided for your virtual profile)
    </li>
    <li>Your location data</li>
    <li>We do not collect or process any special category data or financial information.</li>
  </ul>

  <h3>How we get the personal information and why we have it</h3>
  <p>Most of the personal information we process is provided to us directly by you for one of the following reasons:</p>
  <ul>
    <li>Your name, username and profile picture are used to build a virtual profile on our website</li>
    <li>
      Your location data is used to provide you with more accurate information regarding the current and forecasted weather conditions in
      your local area
    </li>
  </ul>
  <p>
    We use the information that you have given us in order to allow interaction between users on our platform; provide user-generated
    content on our website; provide and use weather data based on the location data you have given us. We may share this information with
    the University of Birmingham.
  </p>
  <p>Under the UK General Data Protection Regulation (UK GDPR), the lawful bases we rely on for processing this information are:</p>
  <ul>
    <li>
      (a) Your consent. You are able to remove your consent at any time. You can do this by contacting us at the e-mail addresses given
      below.
    </li>
    <li>(b) We have a legitimate interest.</li>
  </ul>

  <h3>How we store your personal information</h3>
  <p>
    Your information is securely stored. We keep your personal identifier data and location data securely until the end of the examination
    period in the summer of 2024. We will then dispose your information by directly removing it from our database.
  </p>
  <p>This data will be stored on a server located in the UK/EU/EEA.</p>

  <h3>Your data protection rights</h3>
  <p>Under data protection law, you have rights including:</p>
  <ul>
    <li>Your right of access - You have the right to ask us for copies of your personal information.</li>
    <li>
      Your right to rectification - You have the right to ask us to rectify personal information you think is inaccurate. You also have the
      right to ask us to complete information you think is incomplete.
    </li>
    <li>Your right to erasure - You have the right to ask us to erase your personal information in certain circumstances.</li>
    <li>
      Your right to restriction of processing - You have the right to ask us to restrict the processing of your personal information in
      certain circumstances.
    </li>
    <li>
      Your right to object to processing - You have the the right to object to the processing of your personal information in certain
      circumstances.
    </li>
    <li>
      Your right to data portability - You have the right to ask that we transfer the personal information you gave us to another
      organisation, or to you, in certain circumstances.
    </li>
  </ul>
  <p>You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you.</p>
  <p>Please contact us at the e-mail addresses given below if you wish to make a request.</p>

  <h3>How to complain</h3>
  <p>
    If you have any concerns about our use of your personal information, you can make a complaint to us at the e-mail addresses given below.
  </p>
  <p>You can also complain to the ICO if you are unhappy with how we have used your data.</p>
  <p>
    The ICO’s address: <br />
    Information Commissioner’s Office<br />
    Wycliffe House<br />
    Water Lane<br />
    Wilmslow<br />
    Cheshire<br />
    SK9 5AF
  </p>
  <p>
    Helpline number: 0303 123 1113<br />
    ICO website: https://www.ico.org.uk
  </p>

  <h3>Cookie policy</h3>
  <p>
    On our website, we use a cookie to keep you signed in when you have closed and re-accessed our website. We use no other cookies to track
    you on our website or across any other website. This cookie may be disabled in your browser, though it may adversely affect your
    experience
  </p>

  <h4>Contact information</h4>
  <p>
    Jacob Keneson <br />
    jxk253@student.bham.ac.uk
  </p>
  <p>
    Haydon Carty <br />
    hxc293@student.bham.ac.uk
  </p>
  <p>
    Timothy Sum Ming Yum <br />
    sty138@student.bham.ac.uk
  </p>
  <p>
    Ho Him Wong (Raphael) <br />
    hxw171@student.bham.ac.uk
  </p>
  <p>
    Feyisitan Opemipo (Tobi) <br />
    oof122@student.bham.ac.uk
  </p>
  <p>
    Tameemul Chowdhury <br />
    txc180@student.bham.ac.uk
  </p>
  <p>
    James Waller <br />
    jxw1505@student.bham.ac.uk
  </p>
</div>
