<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-calendar-heading" data-cy="CalendarCreateUpdateHeading">Create or edit a Calendar</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_currentWeek">Current Week</label>
          <div class="d-flex">
            <input
              id="field_currentWeek"
              data-cy="currentWeek"
              type="datetime-local"
              class="form-control"
              name="currentWeek"
              formControlName="currentWeek"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('currentWeek')!.invalid && (editForm.get('currentWeek')!.dirty || editForm.get('currentWeek')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('currentWeek')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('currentWeek')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_calendarConnected">Calendar Connected</label>
          <input
            type="text"
            class="form-control"
            name="calendarConnected"
            id="field_calendarConnected"
            data-cy="calendarConnected"
            formControlName="calendarConnected"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_calendarSync">Calendar Sync</label>
          <div class="d-flex">
            <input
              id="field_calendarSync"
              data-cy="calendarSync"
              type="datetime-local"
              class="form-control"
              name="calendarSync"
              formControlName="calendarSync"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_userProfile">User Profile</label>
          <select
            class="form-control"
            id="field_userProfile"
            data-cy="userProfile"
            name="userProfile"
            formControlName="userProfile"
            [compareWith]="compareUserProfile"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userProfileOption" *ngFor="let userProfileOption of userProfilesCollection">
              {{ userProfileOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
