<div>
  <h2 id="page-heading" data-cy="OutfitHeading">
    <span>Outfits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-outfit"
        [routerLink]="['/outfit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Outfit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="outfits?.length === 0">
    <span>No Outfits found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="outfits && outfits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span>Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span>Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="occasion">
            <div class="d-flex">
              <span>Occasion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span>Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userCreated.id">
            <div class="d-flex">
              <span>User Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="creator.id">
            <div class="d-flex">
              <span>Creator</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let outfit of outfits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/outfit', outfit.id, 'view']">{{ outfit.id }}</a>
          </td>
          <td>{{ outfit.name }}</td>
          <td>{{ outfit.description }}</td>
          <td>{{ outfit.date | formatMediumDatetime }}</td>
          <td>{{ outfit.occasion }}</td>
          <td>
            <a *ngIf="outfit.image" (click)="openFile(outfit.image, outfit.imageContentType)">
              <img [src]="'data:' + outfit.imageContentType + ';base64,' + outfit.image" style="max-height: 30px" alt="outfit image" />
            </a>
            <span *ngIf="outfit.image">{{ outfit.imageContentType }}, {{ byteSize(outfit.image) }}</span>
          </td>
          <td>
            {{ outfit.userCreated?.id }}
          </td>
          <td>
            <div *ngIf="outfit.creator">
              <a [routerLink]="['/user-profile', outfit.creator.id, 'view']">{{ outfit.creator.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/outfit', outfit.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/outfit', outfit.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(outfit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
