.user-details {
  padding: 5px;
  background: #595b5f;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile-picture {
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 50%;
  border: 2px solid white;
}

.circle-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.display-name {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}

.sidebar {
  background: #595b5f;
  border-radius: 15px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.stats {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: max-content;
  cursor: pointer;
  position: relative;
  justify-content: center;
  margin-bottom: 10px;
}

.stat-heading {
  color: white;
}

.stat-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  color: white;
}

.post-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 85%;
  height: 75px;
  margin-bottom: 10px;
  border-radius: 30px;
  background-color: #3e8acc;
  color: white;
}

.gallery-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 85%;
  height: 75px;
  background-color: red;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.gallery-btn:hover,
.post-btn:hover {
  background-color: lime;
  color: black;
}
