.display-5 {
  display: flex;
  position: relative;
  min-height: 74vh;
  .non-img-boxes {
    //flex: 1;
    margin-right: 20px;
    color: inherit;
    .date-and-time {
      background-color: rgba(87, 87, 87, 0.5);
      //height: 61.752903907074966px;
      width: 235px;
      border-radius: 25px;
      margin-bottom: 40px;
    }
    //.filter-box {
    //  background-color: rgba(87, 87, 87, 0.5);
    //  border-radius: 25px;
    //  min-height: 338px;
    //  width: 235px;
    .topnav .search-container {
      display: flex;
      margin-top: 24px;
      margin-bottom: 25px;
    }

    .topnav input[type='text'] {
      font-size: 17px;
      border: none;
      width: 207px;
      height: 29px;
    }

    .topnav .search-container button {
      background: rgba(167, 167, 167, 0.5);
      font-size: 17px;
      border: none;
      cursor: pointer;
      width: 28px;
      height: 29px;
    }
    .clear-button {
      //background: rgba(167, 167, 167, 0.5);
      background: white;
      font-size: 15px;
      border: none;
      cursor: pointer;
      width: 100px;
      height: 29px;
      margin-left: 115px;
      margin-bottom: 30px;
      color: inherit;
    }
    .clear-button:hover {
      background: #ccc;
    }
    .topnav .search-container button:hover {
      background: #ccc;
    }
    .normal-filters {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: inherit;
      .date-Button,
      .weather-Button,
      .occasion-Button {
        background: none;
        font-size: 19px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        border: none;
        width: 235px;
        height: 19px;
        margin-bottom: 6px;
        color: inherit;
        .Brandtxt {
          margin-left: 20px;
          color: inherit;
        }
        .plusbt {
          margin-right: 20px;
        }
      }
      .line3 {
        margin-top: 6px;
        margin-bottom: 6px;
        width: 200px;
        border-bottom: 1px solid black;
      }

      .dropdown-content {
        font-size: 16px;
        //margin-left: 12px;

        padding: 12px 16px;
      }

      .dropdown-content label {
        display: inherit;
        margin-bottom: 8px;
      }

      .dropdown-content label input {
        margin-right: 5px;
      }
    }

    .filter-text {
      margin-left: 19px;
      padding-top: 10px;
    }
  }
}

//.rectangle-4 {
//  //flex: 2;
//  background-color: rgba(87, 87, 87, 0.5);
//  border-radius: 25px;
//
//  width: 1170px;
//  height: 595.765px;
.recommended-outfit-text,
.trending-outfit-text {
  margin-left: 62px;
  margin-top: 34.26px;
  color: inherit;
}
.first-image-line,
.second-image-line {
  display: flex;
  margin-left: 98px;

  .outfit-image {
    //margin-right: 20px;
    margin-right: 54px;
    height: 200px;
    width: 160px;
    //width: 160px;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    background-color: white;
    cursor: pointer;
  }
  .first-line-img02 {
    background-color: white;
    height: 200px;
    width: 160px;
    margin-right: 54px;
    border-radius: 25px;
  }
}
//scrollbar for firstimgline
div.first-image-line,
div.second-image-line {
  //background-color: #333;
  overflow-x: auto;
  white-space: nowrap;
}
//}
//}
.outfit-image-2 {
  //margin-right: 20px;
  margin-right: 54px;
  margin-bottom: 10px;
  height: 200px;
  //width: 200px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;

  //margin-right: 54px;
  //height: 200px;
  width: 160px;
  //width: 160px;
  //border-radius: 25px;
  //background-size: cover;
  //background-position: center;
  background-color: white;
  grid-column-start: 1;
  cursor: pointer;
}

.outfitbt svg {
  width: 24px;
  height: 24px;
  margin-top: 7px;
}
//
.outfitbt {
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  margin-left: 120px;
  grid-column-start: 1;
}

.outfitbt:focus {
  outline: none; /* Remove focus outline */
}
.outfitbt fa-icon {
  font-size: 24px;
  //margin-bottom: 10px;
}
.image-container {
  //position: gri;
  display: grid;
  cursor: pointer;
}
.outfit-image-3 {
  //margin-right: 20px;
  margin-right: 54px;
  height: 200px;
  width: 160px;
  //width: 160px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  background-color: white;
  grid-column-start: 1;
  cursor: pointer;
}
.seeAllviewbt {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: 700px;
  text-decoration: underline;
  color: blue;
}
.seeAllviewbt2 {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: 950px;
  margin-top: 35px;
  text-decoration: underline;
  color: blue;
}
