.display-5 {
  display: flex;
  position: relative;
  min-height: 74vh;
  //justify-content: space-between;
  //align-items: flex-start;
}
.date-and-time {
  position: absolute;
  left: 0.6510416666666666vw;
  top: 0;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.4199726402188784vh;
  //height: 10.943912448700411vh;
  height: 8.447729672650475vh;
  width: 15.299479166666666vw;
  //margin-bottom: 20px;
}
.date-txt,
.time-txt {
  position: relative;
  top: 0.6839945280437757vh;
  left: 0.78125vw;
}
.filter-box {
  position: absolute;
  left: 0.6510416666666666vw;
  //top: 13.679890560875513vh;
  top: 11.615628299894404vh;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.4199726402188784vh;
  height: 46.238030095759235vh;
  width: 15.299479166666666vw;
}
.rectangle-4 {
  position: absolute;
  //left: 35.9781121751026vh;
  left: 18.59vw;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.4199726402188784vh;
  //min-height: 75vh;
  height: 80vh;
  width: 76.171875vw;
}
.filter-text,
.recommended-outfit-text {
  position: relative;
  left: 19px;
  top: 11px;
}
.filter-text {
  font-size: 20px;
  //font-family: Inter;
}

.topnav .search-container {
  //float: right;
  display: flex;
  margin-top: 3.283173734610123vh;
  //align-items: center;
  //width: 40%;
}

.topnav input[type='text'] {
  //padding: 6px;
  //margin-top: 8px;
  //background: rgba(167,167,167,0.5);
  font-size: 17px;
  border: none;
  width: 13.4765625vw;
  height: 3.9671682626538987vh;
}

.topnav .search-container button {
  //float: right;
  //padding: 6px 10px;
  //margin-top: 8px;
  //margin-right: 16px;
  background: rgba(167, 167, 167, 0.5);
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 1.8229166666666667vw;
  height: 3.9671682626538987vh;
}

.topnav .search-container button:hover {
  background: #ccc;
}
