<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-rating-heading" data-cy="RatingCreateUpdateHeading">Create or edit a Rating</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_ratedAt">Rated At</label>
          <div class="d-flex">
            <input
              id="field_ratedAt"
              data-cy="ratedAt"
              type="datetime-local"
              class="form-control"
              name="ratedAt"
              formControlName="ratedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('ratedAt')!.invalid && (editForm.get('ratedAt')!.dirty || editForm.get('ratedAt')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ratedAt')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('ratedAt')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_userRated">User Rated</label>
          <select
            class="form-control"
            id="field_userRated"
            data-cy="userRated"
            name="userRated"
            formControlName="userRated"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_outfit">Outfit</label>
          <select
            class="form-control"
            id="field_outfit"
            data-cy="outfit"
            name="outfit"
            formControlName="outfit"
            [compareWith]="compareOutfit"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="outfitOption" *ngFor="let outfitOption of outfitsSharedCollection">{{ outfitOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
