<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="rating">
      <h2 data-cy="ratingDetailsHeading"><span>Rating</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ rating.id }}</span>
        </dd>
        <dt><span>Rated At</span></dt>
        <dd>
          <span>{{ rating.ratedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>User Rated</span></dt>
        <dd>
          <span>{{ rating.userRated?.id }}</span>
        </dd>
        <dt><span>Outfit</span></dt>
        <dd>
          <div *ngIf="rating.outfit">
            <a [routerLink]="['/outfit', rating.outfit.id, 'view']">{{ rating.outfit.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/rating', rating.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
