<div>
  <h2 id="page-heading" data-cy="ClothingPicHeading">
    <span>Clothing Pics</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-clothing-pic"
        [routerLink]="['/clothing-pic/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Clothing Pic </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clothingPics?.length === 0">
    <span>No Clothing Pics found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="clothingPics && clothingPics.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span>Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="clothingItem.id">
            <div class="d-flex">
              <span>Clothing Item</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clothingPic of clothingPics; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/clothing-pic', clothingPic.id, 'view']">{{ clothingPic.id }}</a>
          </td>
          <td>
            <a *ngIf="clothingPic.image" (click)="openFile(clothingPic.image, clothingPic.imageContentType)">
              <img
                [src]="'data:' + clothingPic.imageContentType + ';base64,' + clothingPic.image"
                style="max-height: 30px"
                alt="clothingPic image"
              />
            </a>
            <span *ngIf="clothingPic.image">{{ clothingPic.imageContentType }}, {{ byteSize(clothingPic.image) }}</span>
          </td>
          <td>
            <div *ngIf="clothingPic.clothingItem">
              <a [routerLink]="['/clothing-item', clothingPic.clothingItem.id, 'view']">{{ clothingPic.clothingItem.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/clothing-pic', clothingPic.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/clothing-pic', clothingPic.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(clothingPic)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
