.display-page {
  display: flex;
  position: relative;
  min-height: 75vh;
}

.display-grid {
  position: relative;
  display: inline-grid;
  grid-template-areas: 'left middle-left middle middle-right right';
  grid-column-gap: 2.5vw;
}

.display-grid-clothing {
  position: absolute;
  top: 22.5vh;
  display: inline-grid;
  grid-template-areas: 'left middle right';
  grid-column-gap: 2.5vw;
}

.text-center {
  display: flex;
  width: auto;
  height: auto;
  top: auto;
  bottom: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.offset {
  position: relative;
  padding: 1.25vh;
}

.name-box {
  position: relative;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  height: 20vh;
  width: 15vw;
  transition-duration: 0.4s;
}

.description-box {
  position: relative;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  height: 20vh;
  width: 15vw;
  transition-duration: 0.4s;
}

.date-box {
  position: relative;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  height: 20vh;
  width: 15vw;
  transition-duration: 0.4s;
}

.image-box {
  position: relative;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  height: 20vw;
  width: 20vw;
  transition-duration: 0.4s;
}

.likes-box {
  position: relative;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  height: 20vh;
  width: 15vw;
  transition-duration: 0.4s;
}

.clothing-display-box {
  position: relative;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  height: 50vh;
  width: 25vw;
  transition-duration: 0.4s;
}

.clothing-box {
  position: relative;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 3.5vh;
  height: 10vw;
  width: 10vw;
  transition-duration: 0.4s;
}
