<div class="display-page">
  <div class="display-grid">
    <div class="display-box name-box">
      <div class="offset">
        <div class="text-center"><span>NAME:</span></div>
        <textarea type="text" class="text-center" id="Name" rows="2">{{ outfitToEdit?.name }}</textarea>
      </div>
    </div>
    <div class="display-box description-box">
      <div class="offset">
        <div class="text-center"><span>DESCRIPTION:</span></div>
        <textarea type="text" class="text-center" id="Description" rows="5">{{ outfitToEdit?.description }}</textarea>
      </div>
    </div>
    <div class="display-box date-box">
      <div class="offset">
        <div class="text-center">
          <span>DATE MADE: {{ outfitToEdit?.date }}</span>
        </div>
      </div>
    </div>
    <div class="display-box occasion-box">
      <div class="offset">
        <div class="text-center">
          <span>OCCASION: {{ outfitToEdit?.occasion }}</span>
        </div>
        <select value="{{ outfitToEdit?.occasion }}" id="Occasion">
          <option>FORMAL</option>
          <option>BUSINESS</option>
          <option>CASUAL</option>
          <option>SPORTS</option>
        </select>
      </div>
    </div>
    <div class="save-delete-grid">
      <div class="save-button" (click)="saveButtonPressed()">
        <div class="text-center"><h4>SAVE</h4></div>
      </div>

      <div class="delete-button" (click)="deleteButtonPressed()">
        <div class="text-center"><h4>DELETE</h4></div>
      </div>
    </div>
    <div class="display-box image-box">
      <span>
        File Upload
        <input type="file" id="outfitPhoto" accept="image/*" />
      </span>
      <div class="text-center">
        <img src="data:image/{{ outfitToEdit?.imageContentType }};charset=utf-8;base64,{{ outfitToEdit?.image }}" alt="your outfit" />
      </div>
    </div>
  </div>

  <div class="display-grid-clothing" id="clothing-grid">
    <div class="clothing-display-box">
      <div class="offset">
        <h2>Your Clothes</h2>
        <div class="scrollable-area">
          <div class="grid-container" *ngFor="let clothingItem of this.clothingReceivedData">
            <button class="clothing-box" (click)="clothingItemPicked(clothingItem)">
              <img
                src="data:image/{{ clothingItem.imageContentType }};charset=utf-8;base64,{{ clothingItem.image }}"
                alt="{{ clothingItem.name }}"
              />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="display-box clothing-display-box">
      <div class="offset">
        <h2>Clothes for this outfit <b>(required)</b></h2>
        <div class="scrollable-area">
          <div class="grid-container" *ngFor="let selectedClothingItem of this.clothesChosen; trackBy: trackByClothingId">
            <button class="clothing-box" (click)="clothingItemRemoved(selectedClothingItem)">
              <img
                src="data:image/{{ selectedClothingItem.imageContentType }};charset=utf-8;base64,{{ selectedClothingItem.image }}"
                alt="{{ selectedClothingItem.name }}"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
