<div class="display-page">
  <div class="display-grid">
    <div class="name-box">
      <div class="offset">
        <div class="text-center">NAME : {{ outfitToEdit?.name }}</div>
      </div>
    </div>
    <div class="description-box">
      <div class="offset">
        <div class="text-center">DESCRIPTION : {{ outfitToEdit?.description }}</div>
      </div>
    </div>
    <div class="date-box">
      <div class="offset">
        <div class="text-center">LAST WORN: {{ outfitToEdit?.date }}</div>
      </div>
    </div>
    <div class="likes-box">
      <div class="offset">
        <div class="text-center">OCCASION: {{ outfitToEdit?.occasion }}</div>
      </div>
    </div>
    <div class="image-box">
      <div class="text-center">
        <img src="data:image/{{ outfitToEdit?.imageContentType }};charset=utf-8;base64,{{ outfitToEdit?.image }}" alt="your outfit" />
      </div>
    </div>
  </div>

  <div class="display-grid-clothing" id="clothing-grid">
    <div class="clothing-display-box">
      <div class="offset" *ngFor="let clothingItem of this.clothingReceivedData">
        <button class="clothing-box" (click)="clothingItemPicked(clothingItem)">
          <b>{{ clothingItem.name }}</b>
        </button>
      </div>
      <b>{{ this.clothingReceivedData }}</b>
    </div>

    <div class="clothing-display-box">
      <div class="offset" *ngFor="let selectedClothingItem of this.clothesChosen">
        <div class="clothing-box">
          <b>{{ selectedClothingItem.name }}</b>
        </div>
      </div>
      <b>{{ this.clothesChosen }}</b>
    </div>
  </div>
</div>
