<div class="display-4">
  <p>Fashion Planner</p>
</div>

<div class="container">
  <div class="d-flex">
    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-event"
      [routerLink]="['/event/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span *ngIf="account"> Create a new event </span>
      <span *ngIf="!account"> Sign in to start planning </span>
    </button>
  </div>
  <div *ngFor="let dayEvents of eventsByDay; let i = index" style="padding-bottom: 8px">
    <h3 style="text-align: left">{{ dayEvents.date | date: 'EEEE, d LLLL' }} &nbsp;</h3>
    <div style="padding: 8px 0px">
      <span class="chip"> {{ data[i]['weatherCode'] }} | {{ data[i]['minTemp'] }}°C / {{ data[i]['maxTemp'] }}°C </span>
      <span class="chip"> Precipitation: {{ data[i]['precipitation'] }}% </span>
      <span class="chip"> Wind: {{ data[i]['windSpeed'] }}km/h </span>
    </div>
    <div *ngIf="dayEvents.events.length > 0; else noEvents">
      <div *ngFor="let event of dayEvents.events">
        <div class="custom-card" (click)="view(event.id)">
          <span>
            {{ event.title }} <br />
            {{ event.dateTime | date: 'h:MM aa' }} <span *ngIf="event.endTime"> - {{ event.endTime | date: 'h:MM aa' }}</span> <br />
            <div *ngIf="event.location">
              {{ event.location }}
            </div>
          </span>
        </div>
      </div>
    </div>
    <ng-template #noEvents>
      <div class="custom-card-2" (click)="addEvent()">No events</div>
    </ng-template>
  </div>

  <div *ngIf="!data">Weather data temporary unavailable</div>
</div>
