<div class="layout-grid">
  <div class="display-box detail-box">
    <div class="text-center"><span>CAPTION:</span></div>
    <textarea type="text" class="text-center" id="Name" rows="2">{{ this.postToEdit?.caption }}</textarea>
  </div>

  <div class="save-delete-grid">
    <div class="save-button" (click)="saveButtonPressed()" [routerLink]="['/user-gallery']">
      <div class="text-center">SAVE</div>
    </div>

    <div class="delete-button" (click)="deleteButtonPressed()" [routerLink]="['/community']">
      <div class="text-center">DELETE</div>
    </div>
  </div>

  <div class="display-box detail-box">
    <div class="text-center"><span>CREATED AT:</span></div>
    <div class="text-center">{{ postToEdit?.createdDate }}</div>
  </div>
  <div>
    <div class="display-box image-box">
      <span>
        <img src="data:image/{{ postToEdit?.imageContentType }};charset=utf-8;base64,{{ postToEdit?.image }}" alt="your outfit" />
        <input type="file" id="Photo" accept="image/*" />
      </span>
    </div>
  </div>
</div>
