<div>
  <h2 id="page-heading" data-cy="PostHeading">
    <span>Posts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-post"
        [routerLink]="['/post/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Post </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="posts?.length === 0">
    <span>No Posts found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="posts && posts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="caption">
            <div class="d-flex">
              <span>Caption</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span>Images</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span>Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="editedDate">
            <div class="d-flex">
              <span>Edited Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalLikes">
            <div class="d-flex">
              <span>Total Likes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="author.id">
            <div class="d-flex">
              <span>Author</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/post', post.id, 'view']">{{ post.id }}</a>
          </td>
          <td>{{ post.caption }}</td>
          <td>
            <a *ngIf="post.image" (click)="openFile(post.image, post.imageContentType)">
              <img [src]="'data:' + post.imageContentType + ';base64,' + post.image" style="max-height: 30px" alt="post image" />
            </a>
            <span *ngIf="post.image">{{ post.imageContentType }}, {{ byteSize(post.image) }}</span>
          </td>
          <td>{{ post.createdDate | formatMediumDate }}</td>
          <td>{{ post.editedDate | formatMediumDate }}</td>
          <td>{{ post.totalLikes }}</td>
          <td>
            <div *ngIf="post.author">
              <a [routerLink]="['/user-profile', post.author.id, 'view']">{{ post.author.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/post', post.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/post', post.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(post)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
