<div class="feed">
  <div class="heading">
    <div class="user">
      <div class="profile-photo">
        <img
          src="/content/images/jhipster_family_member_1_head-192.png"
          alt="Profile Picture"
          class="image"
          [routerLink]="['/user-profile/']"
        />
      </div>
      <div class="info">
        <div class="username-text">
          <h5><b>sukhrajmann88</b></h5>
        </div>
        <div class="post-info-text">
          <small>Birmingham, 2 hours ago</small>
        </div>
      </div>
    </div>
    <span class="post-options">
      <!--- include ellipses image, this is where you can report a post-->
      <img src="/content/images/ellipses.png" class="post-options-img" alt="Options Image" />
    </span>
  </div>
  <div class="post">
    <img src="/content/images/noisy-gradients-1.png" class="post-img" alt="Post Picture" />
  </div>
  <div class="action-buttons">
    <div class="interaction-buttons">
      <span><i class="/g"></i></span>
      <button class="like-btn" [routerLink]="['/likes/new']">
        <!-- onclick="changeImage()" -->
        <img id="like-img" src="/content/images/unliked.png" class="action-img" alt="Like Icon" />
      </button>
      <button class="comment-btn" [routerLink]="['/comment/new']">
        <img src="/content/images/comment.png" class="action-img" alt="Comment Icon" />
      </button>
      <button class="share-btn" [routerLink]="['/share/new']">
        <img src="/content/images/share.png" class="action-img" alt="Share Icon" />
      </button>
    </div>
    <div class="bookmark">
      <img src="/content/images/unsaved.png" class="action-img" alt="Bookmark Icon" [routerLink]="['/likes/']" />
    </div>
  </div>
  <div class="liked-by">
    <!--    <span> <img src="/content/images/jhipster_family_member_0_head-192.png" alt="1st User Picture" /></span>-->
    <!--    <span><img src="/content/images/jhipster_family_member_0_head-192.png" alt="2nd User Picture" /></span>-->
    <!--    <span><img src="/content/images/jhipster_family_member_0_head-192.png" alt="3rd User Picture" /></span>-->
    <p>Liked By <b>USERNAME</b> and <b>123 others</b></p>
  </div>
  <div class="caption">
    <p><b>USERNAME</b> INSERT CAPTION HERE</p>
  </div>
  <div class="text-muted" [routerLink]="['/comment/new']">View all 20 comments</div>
</div>
