.feed {
  padding: 10px;
  background: #595b5f;
  border-radius: 15px;
  font-size: 0.85rem;
  line-height: 0.5;
}
.info {
  margin-top: 5px;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.post-options-img {
  margin-top: 15px;
  width: 20px;
  height: 20px;
}
.post-options {
}
.user {
  display: flex;
  gap: 1rem;
}

.image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid white;
}

.post-img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.post {
  overflow: hidden;
  margin: 0.7rem 0;
  max-height: 960px;
  max-width: 540px;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}

.like-btn,
.comment-btn,
.share-btn {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  margin-right: 5px;
}

.info {
  color: white;
}

//Styles for the images of ppl who have liked
.liked-by {
  display: flex;
}
//.liked-by span {
//  width: 1.4rem;
//  height: 1.4rem;
//  display: block;
//  border-radius: 50%;
//  overflow: hidden;
//  border: 2px solid white;
//  margin-left: -0.6rem;
//}
//
//.liked-by span:first-child {
//  margin: 0;
//}

.caption p {
  color: white;
}
.liked-by p {
  margin-left: 0.5rem;
  margin-top: 1.5%;
  color: white;
}

.caption {
  margin-top: 1%;
}

.text-muted {
  margin-left: 5px;
  font-size: 90%;
}
