<div class="feed">
  <div class="heading">
    <div class="user">
      <div class="profile-photo">
        <img src="/content/images/jhipster_family_member_0_head-192.png" alt="Profile Picture" />
      </div>
      <div class="info">
        <h3>@USERNAME</h3>
        <small>LOCATION, TIMESTAMP</small>
      </div>
      <span class="post-options">
        <!--- include ellipses image, this is where you can report a post-->
      </span>
    </div>
  </div>
  <div class="post"></div>
  <div class="action-buttons">
    <div class="interaction-buttons">
      <span><i class="/g"></i></span>
    </div>
    <div class="bookmark"></div>
  </div>
  <div class="liked-by">
    <span> </span>
    <p>Liked By <b>USERNAME</b> and <b>123 others</b></p>
  </div>
  <div class="caption">
    <p><b>USERNAME</b> INSERT CAPTION HERE</p>
  </div>
  <div class="text-muted">View all 20 comments</div>
</div>
