<ng-container *ngFor="let post of feedPosts; let i = index; trackBy: trackId" class="post-container">
  <div class="my-feed">
    <div class="heading">
      <div class="user">
        <div class="profile-photo">
          <img
            src="/content/images/jhipster_family_member_2_head-192.png"
            alt="Profile Picture"
            class="image"
            [routerLink]="['/user-profile/']"
          />
        </div>
        <div class="post-user-info">
          <div class="username-text">
            <h5>{{ feedUsername }}</h5>
          </div>
          <div class="post-info-text">
            <small> {{ post.createdDate }}</small>
          </div>
        </div>
      </div>
    </div>

    <div class="post">
      <img [src]="'data:' + post.imageContentType + ';base64,' + post.image" class="post-img" alt="Post Picture" />
    </div>
    <div class="action-buttons">
      <div class="interaction-buttons">
        <span><i class="/g"></i></span>
        <button class="like-btn" [routerLink]="['/likes/new']">
          <!-- onclick="changeImage()" -->
          <img id="like-img" src="/content/images/unliked.png" class="action-img" alt="Like Icon" />
        </button>
        <button class="comment-btn" [routerLink]="['/comment/new']">
          <img src="/content/images/comment.png" class="action-img" alt="Comment Icon" />
        </button>
      </div>
    </div>

    <div class="liked-by">
      <h6>| Like count goes here | Likes</h6>
    </div>
    <div class="caption">
      <h5>
        <b>{{ feedUsername }}</b
        >{{ post.caption }}
      </h5>
    </div>
    <div class="text-muted" [routerLink]="['/comment/new']">View all 20 comments</div>
  </div>
</ng-container>
