.feed {
  padding: 10px;
  background: #595b5f;
  border-radius: 15px;
  font-size: 0.85rem;
  line-height: 0.5;
  margin-bottom: 30px;
}
.info {
  margin-top: 5px;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.post-options-img {
  margin-top: 15px;
  width: 20px;
  height: 20px;
}
.post-options {
}
.user {
  display: flex;
  gap: 1rem;
}

.image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid white;
}

.post {
  overflow: hidden;
  margin: 0.7rem 0;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.action-img {
  width: 30px;
  height: 30px;
}

.liked-by {
  display: flex;
}

.liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  margin-left: -0.6rem;
}

.liked-by span:first-child {
  margin: 0;
}

.liked-by p {
  margin-left: 0.5rem;
  margin-top: 1.5%;
}

.caption {
  margin-top: 1%;
}

.text-muted {
  margin-left: 5px;
  font-size: 90%;
}
