<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-outfit-heading" data-cy="OutfitCreateUpdateHeading">Create or edit a Outfit</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_occasion">Occasion</label>
          <select class="form-control" name="occasion" formControlName="occasion" id="field_occasion" data-cy="occasion">
            <option [ngValue]="null"></option>
            <option *ngFor="let occasion of occasionValues" [value]="occasion">occasion</option>
          </select>
          <div *ngIf="editForm.get('occasion')!.invalid && (editForm.get('occasion')!.dirty || editForm.get('occasion')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('occasion')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_weather">Weather</label>
          <select
            class="form-control"
            id="field_weather"
            data-cy="weather"
            name="weather"
            formControlName="weather"
            [compareWith]="compareWeather"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="weatherOption" *ngFor="let weatherOption of weathersSharedCollection">{{ weatherOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_rating">Rating</label>
          <select
            class="form-control"
            id="field_rating"
            data-cy="rating"
            name="rating"
            formControlName="rating"
            [compareWith]="compareRating"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="ratingOption" *ngFor="let ratingOption of ratingsSharedCollection">{{ ratingOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_creator">Creator</label>
          <select
            class="form-control"
            id="field_creator"
            data-cy="creator"
            name="creator"
            formControlName="creator"
            [compareWith]="compareUserProfile"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userProfileOption" *ngFor="let userProfileOption of userProfilesSharedCollection">
              {{ userProfileOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
