<div class="display-4">
  <p>Social Chat</p>
</div>

<div class="chat-container">
  <!-- Left Column for User Info and Chatrooms -->
  <div class="left-column">
    <div class="user-profile">
      <!-- User profile section -->
      <div *ngIf="account">
        <h3>Welcome {{ account.firstName }} {{ account.lastName }}!</h3>
      </div>
    </div>
    <div class="search-bar">
      <div class="center">
        <input type="text" placeholder="Search..." class="search-input" />
        <button class="search-btn">
          <fa-icon icon="magnifying-glass"></fa-icon>
        </button>
        <button class="add-btn">
          <fa-icon icon="plus"></fa-icon>
        </button>
      </div>
    </div>
    <div class="chatrooms-list">
      <h3>Chatrooms</h3>
      <ul class="chatroom-items">
        <li *ngFor="let chatroom of chatrooms" [class.selected]="chatroom === selectedChatroom">
          <div class="chatroom-item">
            <img [src]="chatroom.image" alt="Chatroom Image" class="chatroom-image" />
            <div class="chatroom-info">
              <div class="chatroom-name">{{ chatroom.name }}</div>
              <div class="chatroom-last-message">{{ chatroom.lastMessage }}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Right Column for Chat Interface -->
  <div class="right-column">
    <div class="chat-header">
      <!-- Chat header section -->
      <div class="chat-partner-info">
        <img [src]="currentChatPartner.image" alt="Chat Partner" class="chat-partner-image" />
        <div>
          <div class="chat-partner-name">{{ currentChatPartner.name }}</div>
          <div class="chat-partner-last-seen">Last Seen {{ currentChatPartner.lastSeen | date: 'shortTime' }}</div>
        </div>
      </div>
    </div>
    <div class="chat-messages">
      <!-- Messages will go here -->
      <div class="message" *ngFor="let message of messages">
        <div class="message-content" [ngClass]="{ sent: message.isSent, received: !message.isSent }">
          <span>{{ message.text }}</span>
          <span class="message-time">{{ message.time }}</span>
        </div>
      </div>
    </div>
    <div class="message-input">
      <div class="message-input-container">
        <input type="text" placeholder="Write" class="message-input-field" />
        <button class="send-btn">
          <img src="content/images/SendIcon.png" alt="Send" />
        </button>
      </div>
    </div>
  </div>
</div>
