.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.chat-container {
  display: flex;
  height: 75vh;

  // This mixin creates a translucent background for the columns
  @mixin translucent-bg($color, $alpha) {
    background-color: rgba($color, $alpha);
  }

  .left-column {
    // Column for the users chats, profiles, create new chat,
    flex: 1; // The left column will take up 1 part of the space
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 10px;
    backdrop-filter: blur(10px);
    @include translucent-bg(white, 0.2);
  }

  .right-column {
    // Column for the current chat opened
    flex: 2; // The right column will take up 2 parts of the space, making it twice as wide as the left column
    border-radius: 20px;
    margin: 10px;
    backdrop-filter: blur(10px);
    @include translucent-bg(white, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-bottom: 60px;
  }

  .left-column {
    .user-profile {
      // Style for user profile
    }

    .search-bar {
      // Style for search bar
      .search-container {
        .search-input {
          flex-grow: 2;
          border: none;
          background: transparent;
          padding: 10px;
          border-radius: 20px;
          color: #ffffff; // Adjust the text color as needed

          &::placeholder {
            color: #ffffff; // Adjust the placeholder text color as needed
          }

          &:focus {
            outline: none;
          }
        }

        .search-btn,
        .add-btn {
          display: flex;

          img {
            height: 20px;
            width: 20px;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .chatrooms-list {
      // Style for chatrooms list
    }
  }

  .right-column {
    .chat-header {
      // Style for the chat header
    }

    .chat-messages {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 10px;
      max-height: 100%;
      overflow-y: auto;

      .message {
        display: flex;
        margin: 8px 0;

        &-content {
          max-width: 70%;
          padding: 10px;
          border-radius: 15px;
          margin: 4px;
          position: relative;

          &.sent {
            background-color: #d1ffd7; // light green for sent messages
            align-self: flex-end;
            display: flex;
            margin-top: auto;
          }

          &.received {
            background-color: #ffffff; // white for received messages
            align-self: flex-start;
          }

          .message-time {
            position: absolute;
            bottom: -18px;
            right: 10px;
            font-size: 0.75rem;
            color: #000000;
          }
        }
      }
    }

    .message-input-container {
      align-self: center;
      display: flex;
      padding: 5px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(255, 255, 255, 0.5);
      border-radius: 30px;
      margin-top: auto;
      width: 90%;
      max-width: 600px;

      .message-input-field {
        flex-grow: 1;
        border: none;
        background: transparent;
        margin-right: 10px; // Space before the send button
        color: #000000; // White text color

        &::placeholder {
          color: #000000; // White placeholder text color
        }

        &:focus {
          outline: none;
        }
      }

      //Buttons
      .send-btn {
        background: #00ff00;
        border: none;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 20px;
          height: 20px;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
