.chat-container {
  display: flex;
  height: 75vh;

  @mixin translucent-bg($color, $alpha) {
    background-color: rgba($color, $alpha);
  }

  .right-column,
  .left-column {
    border-radius: 20px;
    margin: 10px;
    backdrop-filter: blur(10px);
    @include translucent-bg(white, 0.2);
    display: flex;
    flex-direction: column;
  }
  .left-column {
    flex: 1;
    padding: 10px;
  }
  .right-column {
    flex: 2;
    justify-content: flex-end;
    padding-bottom: 60px;
  }

  .left-column {
    .user-profile {
    }
    .search-bar {
      .search-container {
        .search-input {
          flex-grow: 2;
          border: none;
          background: transparent;
          padding: 10px;
          border-radius: 20px;
          color: #ffffff;

          &::placeholder {
            color: #ffffff;
          }
        }

        .search-btn,
        .add-btn {
          display: flex;

          img {
            height: 20px;
            width: 20px;
          }
        }
      }
    }

    .chatrooms-list {
      flex-grow: 1;
      overflow-y: auto;

      .chatroom-items {
        padding: 0;

        .chatroom-item {
          display: flex;
          align-items: center;
          padding: 10px;
          border-radius: 10px;
          margin-bottom: 10px;
          cursor: pointer;
          background: rgba(255, 255, 255, 0.2);

          &:hover,
          &.selected {
            background: rgba(255, 255, 255, 0.3);
          }

          .chatroom-image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
          }

          .chatroom-info {
            .chatroom-name {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .right-column {
    .chat-header {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid #ddd;

      .chat-partner-info {
        display: flex;
        align-items: center;

        .chat-partner-image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }

        .chat-partner-name {
          font-weight: bold;
        }

        .chat-partner-last-seen {
          font-size: 0.8rem;
        }
      }
    }

    .chat-messages {
      display: flex;
      flex-direction: column;
      padding: 10px;
      max-height: 100%;
      overflow-y: auto;

      .message {
        display: flex;
        margin: 8px 0;

        &-content {
          max-width: 70%;
          padding: 10px;
          border-radius: 15px;
          margin: 4px;
          position: relative;

          .message-time {
            position: absolute;
            bottom: -18px;
            font-size: 0.75rem;
            color: #000000;
          }

          &.sent {
            background-color: #d1ffd7;
            display: flex;
            margin-left: auto;
            .message-time {
              left: 10px;
            }
          }

          &.received {
            background-color: #ffffff;
            align-self: flex-start;
            .message-time {
              right: 10px;
            }
          }
        }
      }
    }

    .message-input-container {
      display: flex;
      padding: 5px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(255, 255, 255, 0.5);
      border-radius: 30px;
      margin-top: auto;
      width: 50%;

      .message-input-field {
        flex-grow: 1;
        border: none;
        background: transparent;
        color: #000000;
      }

      .send-btn {
        background: #00ff00;
        border: none;
        border-radius: 50%;
        padding: 10px;
        display: flex;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
