<div class="display-4">
  <p>Social Chat</p>
</div>

<div class="chat-container">
  <!-- Left Column for User Info and Chatrooms -->
  <div class="left-column">
    <div class="user-profile">
      <!-- User profile section -->
      <div *ngIf="account">
        <h3>Welcome {{ account.firstName }} {{ account.lastName }}!</h3>
      </div>
    </div>
    <div class="search-bar">
      <div class="center">
        <div class="dropdown-new-item">
          <span *ngIf="account">
            <h5>Create New Chatroom</h5>
            <div class="dropdown-new-item-content">
              <h5>Chatroom Name</h5>
              <input type="text" id="chatroomField" />

              <!-- Remove Creator Input as it's no longer needed -->
              <h5>Recipient Login</h5>
              <input type="text" id="recipientField" placeholder="Enter recipient login" />

              <br /><br />
              <div class="create-new-chatroom-button" (click)="onCreateChatroomButtonClick()"><h5>Create new chatroom</h5></div>
            </div>
          </span>

          <button [routerLink]="['/login']">
            <span *ngIf="!account"> Sign in to start chatting </span>
          </button>
        </div>
      </div>
    </div>
    <div class="chatrooms-list">
      <h3>Chatrooms</h3>
      <ul class="chatroom-items">
        <li *ngFor="let chatroom of chatroomReceivedData" (click)="selectChatroom(chatroom)">
          <div class="chatroom-item">
            <!--            <img [src]="chatroom.image" alt="Chatroom Image" class="chatroom-image"/>-->
            <!-- Chatroom item content -->
            <div class="chatroom-info">
              <div class="chatroom-name">
                <span>{{ chatroom.name }}</span>
              </div>
              <!--              <div class="chatroom-last-message">{{ chatroom.lastMessage }}</div>-->
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Right Column for Chat Interface -->
  <div class="right-column">
    <div class="chat-header">
      <div class="chat-partner-info">
        <div>
          <!-- Display selected chatroom's name -->
          <div class="chat-partner-name" *ngIf="selectedChatroom">{{ selectedChatroom.name }}</div>
          <!--          <div class="chat-partner-last-seen">Last Seen {{ currentChatPartner.lastSeen | date: 'shortTime' }}</div>-->
        </div>
      </div>
    </div>
    <div class="chat-messages" #messageContainer>
      <!-- Messages will go here -->

      <div class="message" *ngFor="let message of messages">
        <div class="message-content" [ngClass]="{ sent: message.isSent, received: !message.isSent }">
          <span>{{ message.text }}</span>
          <span class="message-time">{{ message.timestamp }}</span>
        </div>
      </div>
    </div>

    <div class="message-input">
      <div class="message-input-container">
        <input type="text" [(ngModel)]="newMessageContent" placeholder="Write" class="message-input-field" />
        <button class="send-btn" (click)="sendMessage()">
          <img src="content/images/SendIcon.png" alt="Send" />
        </button>
      </div>
    </div>
  </div>
</div>
