<div class="display-4">
  <p>Social Chat</p>
</div>

<div class="chat-container">
  <!-- Left Column for User Info and Chatrooms -->
  <div class="left-column">
    <!-- User profile section -->
    <div class="user-profile" *ngIf="account">
      <h3>Welcome {{ account.login }}!</h3>
    </div>

    <!-- Search and create chatroom -->
    <div class="search-bar">
      <div class="center">
        <span *ngIf="account">
          <input type="text" id="recipientField" placeholder="Enter recipient login" (keyup.enter)="onCreateChatroomButtonClick()" />
          <button class="button-main" (click)="onCreateChatroomButtonClick()">
            <h5 style="color: var(--button-text-color)">Create new chatroom</h5>
          </button>
        </span>
        <button [routerLink]="['/login']" *ngIf="!account" class="button-focusable">Sign in to start chatting</button>
      </div>
    </div>

    <!-- Chatrooms list -->
    <div class="chatrooms-list">
      <h3>Chatrooms</h3>
      <ul class="chatroom-items">
        <li
          *ngFor="let chatroom of chatroomReceivedData"
          (click)="selectChatroom(chatroom)"
          (keyup.enter)="selectChatroom(chatroom)"
          tabindex="0"
        >
          <div class="chatroom-item">
            <!-- Chatroom item content -->
            <div class="chatroom-info">
              <div class="chatroom-name">
                <span>{{ chatroom.name }}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Right Column for Chat Interface -->
  <div class="right-column">
    <div class="chat-header">
      <div class="chat-partner-info">
        <div>
          <!-- Display selected chatroom's name -->
          <div class="chat-partner-name" *ngIf="selectedChatroom">{{ selectedChatroom.name }}</div>
        </div>
      </div>
    </div>
    <div class="chat-messages" #messageContainer tabindex="0">
      <!-- Messages will go here -->
      <div class="message" *ngFor="let message of messages">
        <div class="message-content" [ngClass]="{ sent: message.isSent, received: !message.isSent }">
          <span class="black">{{ message.text }}</span>

          <div class="image-modal" *ngIf="isImageModalOpen" (click)="closeImageModal()">
            <div class="image-modal-content">
              <img [src]="modalImageSrc" alt="Enlarged message image" />
            </div>
          </div>
          <img
            *ngIf="message.image"
            [src]="message.image"
            class="message-image"
            alt="Image message"
            (click)="openImageModal(message.image)"
          />
          <span class="message-time" style="color: var(--text-color)">{{ message.timestamp }}</span>
        </div>
      </div>
    </div>

    <div class="message-input">
      <div class="message-input-container">
        <input #fileInput type="file" (change)="handleImageInput($event)" style="display: none" />
        <button class="send-btn" (click)="fileInput.click()">
          <img src="content/images/uploadPhoto.png" alt="Upload" />
        </button>
        <input
          #messageInput
          type="text"
          [(ngModel)]="newMessageContent"
          placeholder="Write"
          class="message-input-field"
          (keyup.enter)="sendMessage()"
        />
        <button class="send-btn" (click)="sendMessage()">
          <img src="content/images/SendIcon.png" alt="Send" />
        </button>
      </div>
    </div>
  </div>
</div>
