<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="itemLog">
      <h2 data-cy="itemLogDetailsHeading"><span>Item Log</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ itemLog.id }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ itemLog.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Owner</span></dt>
        <dd>
          <span>{{ itemLog.owner?.id }}</span>
        </dd>
        <dt><span>Outfit</span></dt>
        <dd>
          <div *ngIf="itemLog.outfit">
            <a [routerLink]="['/outfit', itemLog.outfit.id, 'view']">{{ itemLog.outfit.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/item-log', itemLog.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
